<div class="card">
    <div class="card-header"> 
       <div class="card-header-actions">
           <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{departamentsCollapse}}></i></button>
       </div>
       Departaments 
    </div>
    <div class="card-body" [ngStyle]="{'display': isDepartamentsCollapsed ? 'none' : ''}">
       <div>
           <button class="btn btn-sm btn-ghost-success" 
               type="button"
               [popover]="popDepartament" 
               placement="right">New Departament</button>
       </div>
       <ng-template #popDepartament>
           <div class="input-group">
               <input class="form-control" size="30" type="text" placeholder="Departament Name">
               <span class="input-group-append">
                   <button class="btn btn-ghost-success" type="button"><i class="fa fa-plus"></i>
                   </button></span>
           </div>
       </ng-template>
       <br>
       <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
       </ul>
    </div>
 </div>