<div class="card">
    <div class="card-header">
       <div class="card-header-actions">
           <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{movementsCollapse}}></i></button>
       </div>
       Movements
    </div>
    <div class="card-body" [ngStyle]="{'display': isMovementsCollapsed ? 'none' : ''}">
       <div>
           <button 
               class="btn btn-sm btn-ghost-success" 
               type="button"
               [popover]="popMovement" 
               placement="right"
               (click)="createForm()">New Movement</button>
       </div>
       <ng-template #popMovement>
           <form [formGroup]="formCreateMovement">
                <div class="form-group">
                    <div class="input-group">
                        <textarea formControlName="description" class="form-control" cols="2" rows="5" type="text" placeholder="Movement Description"></textarea>
                    </div>
                    <br>
                    <div class="input-group">
                        <input formControlName="movementValue" class="form-control" size="30" type="number" placeholder="Movement Value" />
                    </div>
                    <br>
                    <div class="input-group">
                        <select formControlName="employeeId" class="form-control form-control-md">
                            <option [value]="employee.id" *ngFor="let employee of employees">{{employee.name}}</option>
                        </select>
                    </div>
                    <br>
                    <button class="btn btn-sm btn-square btn-success" type="button" (click)="submitForm()">Save Movement</button>
                </div>
           </form>
       </ng-template>
       <br>
       <div *ngIf="movements.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Movement value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movement of movements">
                    <td>{{movement.description}}</td>
                    <td>{{movement.movementValue}}</td>
                    <td>
                        <button 
                        class="btn btn-brand btn-sm btn-youtube mr-1" 
                        style="float: right;" 
                        type="button"
                        (click)="deleteMovement(movement.id)">
                        <i class="cui-trash"></i>
                        </button>
                        <button 
                        class="btn btn-brand btn-sm btn-twitter mr-1" 
                        style="float: right;" 
                        type="button"
                        [popover]="popEditMovement" 
                        placement="left"
                        (click)="editMovement(movement)">
                        <i class="cui-pencil"></i>
                        </button>
                        <ng-template #popEditMovement>
                            <form [formGroup]="formEditMovement">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea formControlName="description" class="form-control" cols="2" rows="5" type="text" placeholder="Movement Description"></textarea>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input formControlName="movementValue" class="form-control" size="30" type="number" placeholder="Movement Value" />
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <select formControlName="employeeId" class="form-control form-control-md">
                                            <option [value]="employee.id" *ngFor="let employee of employees">{{employee.name}}</option>
                                        </select>
                                    </div>
                                    <br>
                                    <button class="btn btn-sm btn-square btn-success" type="button" (click)="updateMovement()">Update Movement</button>
                                </div>
                            </form>
                        </ng-template> 
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination 
                [boundaryLinks]="true"
                [totalItems]="totalItems" 
                [(ngModel)]="currentPage" 
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;"
                [maxSize]="10">
        </pagination>
        </div>
    </div>
 </div>